.page {
    position: relative;

    &__row {
        display: flex;
        margin-bottom: 50px;

        @include xs-block() {
            flex-direction: column;
        }
    }

    &__aside {
        position: relative;
        flex: 1 1 270px;
        width: 100%;
        max-width: 270px;

        @include xs-block() {
            display: none;
        }
    }

    &__content {
        width: 100%;
        max-width: 1140px;
        margin-left: auto;

        @include hd-block() {
            max-width: calc(100% - 305px);
        }

        @include xs-block() {
            max-width: 100%;
        }

        h1 {
            margin-bottom: 30px;
        }

        h3 {
            margin-bottom: 25px;

            strong {
                font-family: $f-medium;
                font-weight: normal;
            }
        }

        h4 {
            font-family: $f-medium;
        }

        ul,
        ol {
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }

            li {
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        ul {
            list-style: inside;
        }

        ol {
            padding-left: 40px;

            li {
                list-style-type: value;
            }
        }

        p {
            font-size: 16px;
            line-height: 140%;
        }

        img {
            &.aligncenter {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }

    &-gallery {
        margin: 50px 0;

        .grid {
            position: relative;
            margin-right: -15px;
            margin-left: -15px;

            @include xs-block() {
                margin-right: 0;
                margin-left: 0;
            }

            &-item,
            &-sizer {
                width: calc(100% / 3 * 1);
                margin-bottom: 30px;

                @include md-block() {
                    width: 50%;
                }

                @include xs-block() {
                    margin-bottom: 10px;
                }
            }

            &-item {
                position: relative;
                padding-right: 15px;
                padding-left: 15px;

                @include xs-block() {
                    width: 100%;
                    padding-right: 5px;
                    padding-left: 5px;
                }

                &-thumb img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    &-background {
        position: relative;
        margin-top: -30px;

        @include xs-block() {
            margin-top: 0;
        }

        &-subtitle {
            width: 600px;
            margin-top: 15px;

            @include xs-block() {
                width: 100%;
            }

            p {
                @include xs-block() {
                    font-size: 14px;
                }

                br {
                    @include xs-block() {
                        display: none;
                    }
                }
            }
        }

        &-contents {
            position: relative;
            z-index: 10;
            padding-top: 30px;
            min-height: 440px;

            @include xs-block() {
                padding-top: 10px;
                min-height: 420px;
            }

            .breadcrumbs {
                margin: 60px 0 30px;

                @include xs-block() {
                    margin: 15px 0;
                    padding-top: 0;
                }
            }
        }

        &.catalog {
            margin-bottom: -20px;
        }

        &-images {
            position: absolute;
            top: 0;
            left: 50%;
            z-index: 1;
            width: 100%;
            max-width: 1920px;
            height: 440px;
            transform: translateX(-50%);
            background-color: #f1f1f1;

            @include xs-block() {
                height: 420px;
            }

            &.no-background-images {
                background: linear-gradient(
                    100.16deg,
                    rgba(235, 235, 235, 0.6) 42.55%,
                    rgba(196, 196, 196, 0.22) 72.13%
                );
            }

            img {
                width: 100%;
                height: 100%;
                max-height: 440px;
                min-height: 440px;
                object-fit: cover;
                object-position: center;

                @include xs-block() {
                    max-height: 420px;
                    min-height: 420px;
                }
            }
        }

        &-advantage {
            margin-top: 50px;
        }

        &.page-delivery {
            padding-bottom: 100px;
            background: linear-gradient(
                92.84deg,
                #fff 31.8%,
                rgba(255, 255, 255, 0) 100%
            );

            @include xs-block() {
                padding-bottom: 50px;
            }

            .page-content__box {
                min-height: 460px;

                @include xs-block() {
                    min-height: 380px;
                }
            }
        }

        &.page-payment {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            background-color: #fff;

            h1 {
                margin-top: 80px;

                @include xs-block() {
                    margin-top: 50px;
                }
            }

            .page-content__box {
                max-height: 333px;

                @include xs-block() {
                    max-height: fit-content;
                }
            }

            .page-content__desc {
                max-width: 425px;
                margin-top: 20px;

                p {
                    font-family: $f-light;

                    &:last-child {
                        margin: 0;
                    }
                }
            }

            .page-content__background {
                position: absolute;
                top: 0;
                right: 0;
                left: auto;

                @include xs-block() {
                    display: none;
                }

                img {
                    max-width: 380px;
                }
            }

            .page-content__bank {
                display: flex;
                align-items: center;
                padding-top: 10px;

                img + img {
                    margin-left: 30px;
                }
            }
        }
    }

    &-content {
        position: relative;

        &__row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;

            &.offset {
                margin-top: -30px;
            }
        }

        &__inner {
            position: relative;
            z-index: 10;
        }

        &__box {
            position: relative;
            z-index: 10;
            flex: 0 0 100%;
            width: 100%;
            margin-bottom: 30px;
            padding: 40px;
            overflow: hidden;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.05);

            @include xs-block() {
                padding: 20px;
                box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
            }

            &.box-2 {
                flex: 0 0 calc(1 / 2 * 100% - 30px);
                width: calc(1 / 2 * 100% - 30px);
                margin-right: 15px;
                margin-left: 15px;

                @include xs-block() {
                    flex: 0 0 calc(100% - 30px);
                    width: calc(100% - 30px);
                }
            }

            &.box-3 {
                flex: 0 0 calc(1 / 3 * 100% - 30px);
                width: calc(1 / 3 * 100% - 30px);
                margin-right: 15px;
                margin-left: 15px;

                @include xs-block() {
                    flex: 0 0 calc(100% - 30px);
                    width: calc(100% - 30px);
                }
            }

            .page-content__desc {
                position: relative;
                z-index: 10;

                p {
                    @include xs-block() {
                        font-size: 14px;
                    }
                }
            }
        }

        &__background {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;

            img {
                width: 100%;
                height: auto;
            }
        }

        &__stm {
            position: relative;
            overflow: hidden;
            background: linear-gradient(
                    90deg,
                    #fff 29.8%,
                    rgba(255, 255, 255, 0) 100%
                ),
                rgba(0, 0, 0, 0.05);

            @include xs-block() {
                height: 550px;
            }

            .page-content__btn {
                @include xs-block() {
                    position: relative;
                    z-index: 10;
                }

                .btn {
                    @include xs-block() {
                        margin-top: 10px;
                    }
                }
            }

            img {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 868px;
                height: 366px;

                @include xs-block() {
                    width: 100%;
                    height: auto;
                }
            }
        }

        &__desc ul {
            padding: 0 0 0 20px;

            li {
                list-style-type: disc;
                font-family: $f-light;
                font-size: 16px;
                line-height: 140%;

                a {
                    text-decoration: underline;
                }

                & + li {
                    margin-top: 12px;
                }
            }
        }

        &__title {
            margin-bottom: 20px;
            font-family: $f-medium;
            font-size: 24px;
            line-height: 140%;

            @include xs-block() {
                font-size: 20px;
            }
        }

        &__subtitle {
            color: rgba(0, 0, 0, 0.8);
            font-size: 18px;
            line-height: 150%;

            @include xs-block() {
                font-size: 16px;
            }
        }
    }

    &-stm {
        position: relative;

        &__wrap {
            margin-top: 80px;

            h2 {
                max-width: 685px;
                margin-bottom: 50px;
            }

            p {
                max-width: 1200px;
                color: #282828;
                font-size: 18px;
                line-height: 140%;
            }
        }

        &__row {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 50px;

            @include xs-block() {
                flex-direction: column;
            }
        }

        &__item {
            display: flex;
            align-items: center;
            max-width: 470px;

            span {
                font-family: $f-medium;
                font-size: 18px;
                line-height: 140%;

                @include xs-block() {
                    font-family: $f;
                    font-size: 16px;
                }
            }

            & + & {
                @include xs-block() {
                    margin-top: 30px;
                }
            }
        }

        &__count {
            margin-right: 30px;
            color: rgba(0, 0, 0, 0.15);
            font-family: $f-bold;
            font-size: 96px;
            line-height: 92px;

            @include xs-block() {
                flex: 0 0 50px;
                padding-left: 20px;
                font-size: 64px;
                line-height: normal;
            }
        }

        &-gallery {
            margin-top: 80px;

            &__wrap {
                margin-top: 25px;
            }

            &__thumb {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 1;
                    opacity: 0;
                    width: 120px;
                    height: 120px;
                    transform: translate(-50%, -50%);
                    transition: $trs;
                    border-radius: 60px;
                    background-color: #fff;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 2;
                    opacity: 0;
                    width: 32px;
                    height: 32px;
                    transform: translate(-50%, -50%);
                    transition: all 0.5s ease-in;
                    background-image: url('../../assets/files/icons/svg/icon--zoom.svg');
                    background-size: 32px 32px;
                }

                &:hover::after,
                &:hover::before {
                    opacity: 1;
                }

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .swiper {
                margin-top: -60px;
                padding-top: 60px;
            }

            .loop-swiper-button {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 90;
                display: flex;
                align-items: center;

                &-arrow {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 32px;
                    height: 32px;
                    transition: $trs;
                    border-radius: 5px;
                    background-color: #fff;
                    cursor: pointer;

                    &:hover {
                        background-color: $color-accent;

                        svg {
                            fill: white;
                        }
                    }

                    &.swiper-button-disabled {
                        opacity: 0.2;
                        background-color: #fff;
                        cursor: default;

                        svg {
                            fill: black;
                        }
                    }

                    svg {
                        width: 24px;
                        height: 24px;
                    }
                }

                &-prev {
                    margin-right: 5px;

                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        h1 {
            max-width: 530px;
        }
    }

    &-seo {
        position: relative;
        padding-bottom: 50px;

        &__wrap {
            width: 100%;
            max-width: 1470px;
            margin: 0 auto;
            text-align: center;

            @include xs-block() {
                padding: 0 20px;
            }
        }

        &__title h2 {
            margin-bottom: 25px;
            color: #000;
            font-family: $f-medium;
            font-size: 28px;
            line-height: 140%;

            @include xs-block() {
                font-size: 24px;
            }
        }

        .term-description p,
        .page-description p {
            display: flex;
            justify-content: center;
            max-width: 1200px;
            margin: 0 auto;
            color: rgba(0, 0, 0, 0.8);
            font-size: 16px;
            line-height: 140%;
            text-align: center;

            @include xs-block() {
                font-size: 14px;
            }
        }
    }

    h1 {
        color: #282828;
        font-family: $f-medium;
        font-size: 36px;
        line-height: 140%;

        @include xs-block() {
            font-size: 28px;
        }

        ins {
            font-family: $f-light;
            text-decoration: none;
        }
    }

    h2 {
        color: #282828;
        font-family: $f-medium;
        font-size: 28px;
        line-height: 140%;

        @include xs-block() {
            font-size: 24px;
        }
    }
} // .page
